<mat-card>
		<mat-card-header class="section">
			<mat-card-title>{{ title }}</mat-card-title>
			<mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content class="section">
	
			<mat-form-field class="search-form">
				<input matInput placeholder="Search Picture" type="text" #searchString />
			</mat-form-field>
				&nbsp;
				&nbsp;
				&nbsp;
			<button button="submit" mat-raised-button color="primary" (click)="searchForPic(searchString.value)">Search</button>
				
	
			<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="container" layout-wrap>
				<mat-card *ngFor="let picture of pictures" fxFlex="50" class="item">
					<img src="{{ picture.link }}" />
					<mat-card-title class="title">
						{{ picture.title }}
					</mat-card-title>
				</mat-card>
			</div>
		</mat-card-content>
	</mat-card>