.section {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.search-field {
	border-radius: 10px;
	border: 1px solid #f2f2f2;
	width: 30%;
}

.container {
	background-color: #f2f2f2;
	padding: 5px;
	margin: 0 auto;
	height: 1000px;
	display: flex;
	flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
	justify-content: flex-start;
	align-items: flex-start;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.item {
	margin: 10px;
}

.item > .title {
	font-size: 12px;
	font-weight: bold;
	max-width: 200px;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}