<mat-card>
		<mat-card-header>
			<mat-card-title>{{ title }}</mat-card-title>
			<mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				This is where you will see the photos
			</p>
	
			<mat-form-field class="search-form">
				<input matInput placeholder="Search Picture" type="text" #searchString />
			</mat-form-field>
			<button button="submit" mat-raised-button color="primary" (click)="searchForPic(searchString.value)">Search</button>
			<br>
	
			<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
			<mat-card class="card-picture" *ngFor="let picture of pictures">
				<mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
					<span fxFlex="80%">{{picture.title}}</span>
					<div [innerHTML]="picture.description"></div>	
				</mat-card-title>
				
			</mat-card>
			</div>
		</mat-card-content>
	</mat-card>